<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>      09:00 - 10:00  <!-- time    -->
        <td></td>      Numpy arrays  <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        10:00 - 11:00<!-- time    -->
        <td></td>        Dictionaries<!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td></td>        11:00 - 12:00<!-- time    -->
        <td></td>        Functions<!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td></td>        12:00 - 12:30<!-- time    -->
        <td></td>        Lunch<!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td></td>        12:30 - 15:30<!-- time    -->
        <td></td>        Conda<!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td></td>        15:30 - 16:00<!-- time    -->
        <td></td>        Wrap Up<!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->              <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
